<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, distinctio quasi explicabo necessitatibus, aperiam iusto eius perferendis modi dolorem beatae excepturi exercitationem? Assumenda placeat qui et animi optio facere praesentium reiciendis, dolor veniam ipsum alias aliquam at, itaque tenetur iste repellat dignissimos, molestias eos. Nam, minima. Repudiandae similique sed sint.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod vitae consequuntur, deserunt numquam est fuga corrupti illo harum quia ipsum dicta odit explicabo labore praesentium inventore quae libero consequatur modi doloremque illum! Aperiam ratione doloribus adipisci voluptate similique hic, nulla sunt dignissimos! Ut doloribus dolorem vero debitis sapiente at in!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod vitae consequuntur, deserunt numquam est fuga corrupti illo harum quia ipsum dicta odit explicabo labore praesentium inventore quae libero consequatur modi doloremque illum! Aperiam ratione doloribus adipisci voluptate similique hic, nulla sunt dignissimos! Ut doloribus dolorem vero debitis sapiente at in!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod vitae consequuntur, deserunt numquam est fuga corrupti illo harum quia ipsum dicta odit explicabo labore praesentium inventore quae libero consequatur modi doloremque illum! Aperiam ratione doloribus adipisci voluptate similique hic, nulla sunt dignissimos! Ut doloribus dolorem vero debitis sapiente at in!</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>