<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/3769138/pexels-photo-3769138.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured </small>
        <small class="bg-light text-info text-center ml-3">Views - 923,434</small>

        <h5 class="mt-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, maxime voluptate? Nisi dolorem error ratione magnam tenetur eligendi voluptatum assumenda amet iusto adipisci?</p>

        <small class="bg-light text-warning text-center ml-3">Last Updated : SEP 20,2023</small>

    </div>
</div>